*{
    padding: 0;
    margin: 0;
}

/*login*/
#caixaLogin{
    position: relative;
    border: solid 3px rgb(0, 70, 70);
    border-left: solid 10px rgb(0, 70, 70);
    border-radius: 10px;
    width: 50%;
    margin: auto;
    transform: translateY(200px);
}
#caixaLogin div{
    display: inline-block;
}
.divLogin{
    width: 300px;
    font-size: 22px;
    margin-bottom: 5px;
}
.divLogin input{
    margin: 5px;
    width: 250px;
    height: 30px;
    border: none;
    border-bottom: solid 1px rgb(0, 70, 70);
    background-color: whitesmoke;
    outline: none;
}
.divLogin input[type=submit]{
    background-color: rgb(0, 70, 70);
    border: none;
    color: white;
}
.divLogin input[type=submit]:hover{
    background-color: rgb(0, 48, 48);
}
.divLogin a{
    color: rgb(0, 70, 70);
    font-size: 14px;
}
.divLogin a:hover{
    color: rgb(0, 48, 48);
    font-size: 14px;
}
/*login*/

/*navbar*/
header{
    padding-bottom: 50px;
}
nav{
    background-color: rgb(0, 70, 70);
    color: white;
    height: 50px;
    font-size: 26px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
ul{
    padding-top: 14px;
    position: relative;
    font-size: 18px;
}
li{
    display: inline-block;
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 2px;
}
a:hover{
    color: rgba(255, 255, 255, 0.849);
}
/*navbar*/
/*body*/
body{
    background-color: whitesmoke;
    color: rgb(0, 70, 70);
    text-align: center;
/*     font-family: Verdana, Geneva, Tahoma, sans-serif; */
/* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */

    font-family: 'Montserrat', sans-serif;
}
/*body*/
/*footer*/
footer{
    background-color: rgb(0, 70, 70);
    color: white;
    height: 70px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
/*footer*/
/*cards home*/
.cardsHome{
    background-color: white;
    width: 300px;
    border: solid 3px rgb(0, 70, 70);
    border-bottom: solid 10px rgb(0, 70, 70);;
    color: rgb(0, 70, 70);;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;
}
/*cards home*/
/*consulta alunos*/
#botaoAdd{
    margin-top: 50px;
    border: solid 2px rgb(0, 70, 70);
    border-radius: 10px;
}
#listaAlunos{
    margin: auto;
    text-align: center;
    border: solid 1px black;
    font-size: 18px;
    padding: 1px;
    margin-bottom: 20px;
}
#listaAlunos td{
    border: solid 1px black;
}
#listaAlunos a{
    color: rgb(0, 70, 70);
}
/*consulta alunos*/