* {
  padding: 0;
  margin: 0;
}

/*navbar*/
.navbar {
  background-image: linear-gradient(to bottom, #4e9ddd, #0478d9);
  color: white;
  font-size: 26px;
  font-size: 16px;
}
.navbar li {
  display: inline-block;
  list-style: none;
}
.navbar a {
  text-decoration: none;
  color: white;
  margin: 10px;
  padding: 2px;
}
.navbar a:hover {
  color: rgba(255, 255, 255, 0.849);
}
li .dropdown-item {
  color: #0478d9;
}
li .dropdown-item:hover {
  background-color: white;
  color: #0364b3;
}
.navbar-toggler .navbar-toggler-icon {
  background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/*navbar*/
/*body*/
body {
  background-color: whitesmoke !important;
  color: #0478d9;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*body*/
/*footer*/
footer {
  background-image: linear-gradient(to bottom, #4e9ddd, #0478d9);
  color: white;
  height: 65px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}
/*footer*/
/*login*/
.divLogin {
  border: #0478d9 solid 10px;
  border-style: none none none solid;
  border-radius: 20px;
  background-color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 5px 5px 5px 5px #00000031;
}
.divLogin a {
  text-decoration: none;
  color: #0478d9;
}
.inputLogin {
  border-style: none none solid none;
  border-color: gray;
  border-width: 1px;
}
.inputLogin:focus {
  box-shadow: none;
  outline: none;
}
.divLogin select {
  margin: 10px;
  border: none;
  color: #0478d9;
  font-size: 16px;
}
.divLogin select:focus {
  outline: none;
}
/*login*/
/*cards home*/
.divHome{
  transform: translateY(50%);
  background-color: white !important;
  border-radius: 10px;
  width: 90%;
  margin: auto;
}
.cardsHome {
  background-color: #4291d1;
  width: 350px;
  color: white;
  text-align: center;
  display: inline-block;
}
.cardsHome td{
  color: white;
}
/*cards home*/
/*consulta alunos*/
#botaoAdd {
  margin-top: 50px;
  border: solid 2px #0478d9;
  border-radius: 10px;
}
#listaAlunos {
  margin: auto;
  text-align: center;
  border: solid 1px #0478d9;
  font-size: 18px;
  padding: 1px;
  margin-bottom: 20px;
}
#listaAlunos td {
  border: solid 1px #0478d9;
}
#listaAlunos a {
  color: rgb(0, 70, 70);
}
/*consulta alunos*/

/*polos*/
#divPolos {
  position: relative;
  top: 50%;
  transform: translateY(-70%);
}
/*polos*/
