*{
    padding: 0;
    margin: 0;
}
/*navbar*/
header{
    padding-bottom: 50px;
}
nav{
    background-color: rgb(0, 70, 70);
    color: white;
    height: 50px;
    font-size: 26px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
ul{
    padding-top: 14px;
    position: relative;
    font-size: 18px;
}
li{
    display: inline-block;
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 2px;
}
a:hover{
    color: rgba(255, 255, 255, 0.849);
}
/*navbar*/
/*body*/
body{
    background-color: whitesmoke;
    color: rgb(0, 70, 70);
    text-align: center;
/*     font-family: Verdana, Geneva, Tahoma, sans-serif; */
/* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */

    font-family: 'Montserrat', sans-serif;
}
/*body*/
/*footer*/
footer{
    background-color: rgb(0, 70, 70);
    color: white;
    height: 70px;
    text-align: center;
}
/*footer*/
/*consulta alunos*/
.cardsHome{
    background-color: white;
    width: 300px;
    border: solid 3px rgb(0, 70, 70);
    border-bottom: solid 10px rgb(0, 70, 70);;
    color: rgb(0, 70, 70);;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;
}
/*consulta alunos*/