* {
  padding: 0;
  margin: 0;
}
:root{
    /*light*/
    --fundoPrincipal: whitesmoke;
    --fontePrincipal: rgb(61, 61, 61);
    /*light*/

    /*dark*/
    --fundoDark: rgb(61, 61, 61);
    --fundoDarkHover: rgb(90, 90, 90);
    --fontDark: rgb(201, 201, 201);
    /*dark*/
}

/*dark*/
table.dark{
  color: var(--fontDark) !important;
}
/*dark*/

/*body*/
body{
  background: var(--fundoPrincipal);
  color: var(--fontePrincipal);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body.dark{
  background: var(--fundoDark);
  color: var(--fontDark);
}

table{
  color:#0478d9;
}
/*body*/

/*navbar*/
nav{
  background-image: linear-gradient(to bottom, #4e9ddd, #0478d9);
  color: white;
  font-size: 26px;
  font-size: 16px;
}
nav.dark{
  background: black;
  color: var(--fontDark);
}
.navbar li {
  display: inline-block;
  list-style: none;
}
.navbar a {
  text-decoration: none;
  color: white;
  margin: 10px;
  padding: 2px;
}
.navbar a:hover {
  color: rgba(255, 255, 255, 0.849);
}
.navbar li .dropdown-item {
  color: #0478d9;
}
.navbar li .dropdown-item:hover {
  background-color: white;
  color: #0364b3;
}
.navbar-toggler .navbar-toggler-icon {
  background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar ul li .trocaTema:focus{
  box-shadow: none;
  outline: none;
}
.dropdown-menu{
  width: 200px;
  text-align: center;
}
.navbar ul li .trocaTema{
  margin-top: 10px;
}
.navbar ul li .trocaTema.dark{
  
}
/*navbar*/

/*footer*/
footer {
  background-image: linear-gradient(to bottom, #4e9ddd, #0478d9);
  color: white;
  height: 70px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}
footer.dark{
  background: black;
  color: var(--fontDark);
}
#logoFooter{
  text-align: center;
  margin-top: 1.2%;
  margin-right: 2px;
}
/*footer*/
/*login*/
.divLogin {
  border: #0478d9 solid 10px;
  border-style: none none none solid;
  border-radius: 20px;
  background-color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 5px 5px 5px 5px #00000031;
}
.divLogin a {
  text-decoration: none;
  color: #0478d9;
}
.inputLogin {
  border-style: none none solid none;
  border-color: gray;
  border-width: 1px;
}
.inputLogin:focus {
  box-shadow: none;
  outline: none;
}
.divLogin select {
  margin: 10px;
  border: none;
  color: #0478d9;
  font-size: 16px;
}
.divLogin select:focus {
  outline: none;
}
/*login*/
/*cards home*/
.divHome{
  position: relative;
  top: 50%;
  transform: translateY(-100%);
  border-radius: 10px;
  width: 90%;
  margin: auto;
}
@media screen and (max-width: 600px){
  .divHome  
  {
    min-width: 100%;
  }
}
.cardsHome {
  background-color: #4291d1;
  width: 90%;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  padding: 5px;
  border-radius: 10px;
}
.cardsHome td{
  color: white;
}
/*cards home*/
/*consulta alunos*/
#botaoAdd {
  margin-top: 50px;
  border: solid 2px #0478d9;
  border-radius: 10px;
}
#listaAlunos {
  margin: auto;
  text-align: center;
  border: solid 1px #0478d9;
  font-size: 18px;
  padding: 1px;
  margin-bottom: 20px;
}
#listaAlunos td {
  border: solid 1px #0478d9;
}
#listaAlunos a {
  color: rgb(0, 70, 70);
}
/*consulta alunos*/

/*polos*/
#divPolos {
  margin: auto;
  width: 50rem;
  position: relative;
  top: 50%;
  transform: translateY(-70%);
}
.cardsPolo{
  width: 20rem;
  text-align: center;
  margin: auto;
}
@media (min-width: 901px){
  #divPolos .colunaPolos{
    min-width: 50rem
  }
}
@media (max-width: 900px){
  #divPolos{
    max-width: 100%;
  }
  #divPolos .colunaPolos{
    display: block;
    margin: auto;
  }
  .cardsPolo{
    width: 7rem;
    text-align: center;
    margin: auto;
  }
  .cardsPolo .btnAddPolo{
    height: 7rem;
  }
}
.cardsPolo.dark{
  background: gray;
  color: whitesmoke;
}
.colunaPolos{
  padding-left: 10px; 
  padding-right: 10px;
  max-width: 20rem;
}
.btnAddPolo{
  height: 20rem;
  background: url("../imgs/polos/addPolo.svg") no-repeat;
  background-size: cover;
}
.btnAddPolo:hover{
  filter: brightness(90%);
}
.btnAddPolo.dark{
  background: url("../imgs/polos/addPolo.svg") no-repeat;
  filter: grayscale(100%);
}
.btnAddPolo.dark:hover{
  filter: grayscale(90%);
}
.textoPolo{
  float: left;
}
.deletarPolo{
  float: right;
}
/*polos*/

.inputPesquisa{
  padding: 2rem;
}
.barraPesquisa{
  background: white;
}
.barraPesquisa.dark{
  background: black;
}

.barraPesquisa.dark:focus{
  background: black;
}